*{
    box-sizing: border-box;
    
    margin: 11px;

 
}
#header{
    position: relative;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 30px;
}
body{
    display: inline;
    position: relative;
    font-family: 'Baloo Bhai 2', cursive;
    
    
}

.h1{
   
    text-align:center;
    margin-left: 185px;
   margin-top: -11px;
   margin-right: -11px;
   border-radius: 10px;
   border: 2px solid black;
   padding: 6px;


    color:white;




    text-transform: capitalize;
}
#ab{
    background-color: rgb(230, 147, 24);
    
}
#bc{
    background-color: burlywood;
}
#cd{
    background-color: chocolate;
    
}   

#p1{
    position:static;
    background-color: blanchedalmond;
    border: 2px solid rgb(10, 10, 9);
    padding: 10px;

    height:auto; 
    border-radius: 10px;      

}
#p2{
    position:static;
    background-color: coral;
    border: 2px solid rgb(10, 10, 9);
    padding: 10px;
    height: auto;
    border-radius: 10px;



}
#p3{
    position:static;
    background-color: cornflowerblue;
    border: 2px solid rgb(10, 10, 9);
    padding: 10px;
    height: auto;
    margin-right: 9px;
    font-family: 'Baloo Bhai 2', cursive;
    border-radius: 10px;

}

.row{
display: inline;
width: 50%;
font-size: 18px;
font-family: 'Baloo Bhai 2', cursive;

float: none;


overflow: auto;
}

/* For mobile phones: */



@media only screen and (min-width: 992px) {

.col-4,

.col-12
{
float:left;


}
/* For desktop: */

.col-4 {width: 31%;}

}
@media only screen and (max-width:991px) and (min-width:768px){

.col-s-6,

.col-s-12
{
float:left;

}

.col-s-6 {width: 47%;}

.col-s-12 {
width: 100%;

}
} 